*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url( './assets/img/bg.jpg');
  background-size: cover;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
nav{
  position: static;
  top:0;
  background-color: rgb(252, 218, 198);
}
.container{
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  padding: 0 2rem;
  height: 3rem;
}
.logo-container{
  flex:1;
  display: flex;
  align-items: center;
}
.logo{
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}
.logo span{
  font-weight: 300;
}
.nav-btn{
  flex:3;
  display: flex;
}
.nav-links{
  flex:4;
}
.nav-links > ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link{
  position: relative;
}
.nav-link > a {
  color: #fff;
  line-height: 3rem;
  padding: 0 .8rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link >a > i{
  margin-left: .2rem;
  transition: .5s;
}
.nav-link:hover > a{
  transform: scale(1.1);
}
.logout{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase;
}
.btn.solid, .btn.transparent:hover{
  background-color: white;
  color:  rgb(252, 218, 198);
}
.btn.transparent, .btn.solid:hover{
  background-color: transparent;
  color: #fff;
}

.dropdown{
  position: absolute;
  top:100%;
  left: 0;
  width: 10rem;
  background-color: #fff;
}
.dropdown ul{
  position: relative;
}
.dropdown-link:not(:nth-last-child(2)){
  border-bottom: 1px solid #efefef;
}
.dropdown-link > a{
  display: flex;
  background-color: #fff;
  color: rgb(252, 218, 198);
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}
.dropdown-link:hover > a{
  background-color: rgb(250, 209, 185);
  color: #fff;
}
.dropdown-link i{
  transform: rotate(-90deg);
}
.arrow{
  position: absolute;
  width: 11px;
  height: 11px;
  top:-5.5px;
  left: 32px;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
}
.dropdown-link:first-child:hover ~ .arrow{
  background-color: rgb(250, 209, 185);;
}