* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
section {
    width: 100%;
    padding: 0 7%;
    display: flex;
    margin: 0;
    background-color: #4a4e58;
    height: calc(100vh - 3rem);
    color: white;
    justify-content: center;
    align-items: center;
}